#!/usr/bin/make -f

%:
	dh $@

UPSTREAM=$(shell dpkg-parsechangelog --show-field Version | cut -d- -f1)

override_dh_auto_build:
	mvn -Dmaven.repo.local=$(CURDIR)/debian/m2-repo install

override_dh_auto_install:
	jh_installlibs sjk-plus/target/sjk-plus-${UPSTREAM}.jar
	dh_auto_install

override_dh_clean:
	mvn -Dmaven.repo.local=$(CURDIR)/debian/m2-repo clean
	-rm -rf $(CURDIR)/debian/m2-repo
	dh_clean

update_manpage:
	SJK_JAR=sjk/target/sjk-${UPSTREAM}.jar help2man \
		--name "sjk - Swiss Java Knife" \
		--section 1 \
		--manual "User Commands" \
		--source=Debian \
		--output debian/sjk.1 \
		--no-info debian/sjk
